<%= form_tag sessions_path, class: 'donor-login' do %>
    <h2 class="st-marie-heading">DONOR LOGIN</h2>

    <div class="field">
        <%= label_tag :email, 'email' %>
        <%= text_field_tag :email, params[:email], placeholder: "youremail@example.com" %>
    </div>

    <div class="field">
        <%= label_tag :password, 'password' %>
        <%= password_field_tag :password %>
    </div>

    <%= hidden_field_tag :donor_or_org, 'donor' %>

    <%= link_to "forgot password?", "", class: "forgot-password" %>

    <%# TODO: Remember me, forgot password links %>

    <%= submit_tag "LOGIN" %>
<% end %>