<div class="float_left">
	<h1 class="heading_label">DONATE:</h1>
	
	<!-- "Donate items" button -->
	<% if current_page?('/donateitems') %>
		<div class="big_button_border_static brown_border dash_image float_left">
			<%= link_to image_tag('donor-navigation/selected5cropped.png'), 'donateitems' %>
		</div>
	<% else %>
		<div class="big_button_border brown_border dash_image float_left">
			<%= link_to image_tag('donor-navigation/standard5cropped.png'), 'donateitems' %>
		</div>
	<% end %>
	
	<!-- "Donate money" button -->
	<% if current_page?('/donatemoney') %>
		<div class="big_button_border_static brown_border dash_image float_left">
			<%= link_to image_tag('donor-navigation/selected4cropped.png'), 'donatemoney' %>
		</div>
	<% else %>
		<div class="big_button_border brown_border dash_image float_left">
			<%= link_to image_tag('donor-navigation/standard4cropped.png'), 'donatemoney' %>
		</div>
	<% end %>
	
	<!-- "Donate time" button -->
	<% if current_page?('/donatetime') %>
		<div class="big_button_border_static brown_border dash_image float_left">
			<%= link_to image_tag('donor-navigation/selected3cropped.png'), 'donatetime' %>
		</div>
	<% else %>
		<div class="big_button_border brown_border dash_image float_left">
			<%= link_to image_tag('donor-navigation/standard3cropped.png'), 'donatetime' %>
		</div>
	<% end %>
</div>

<div class="float_right">
	<h1 class="heading_label">BROWSE:</h1>
	
	<!-- "Item-offer board" button -->
	<% if current_page?('/volunteer') %>
		<div class="big_button_border_static beige_border dash_image float_right">
			<%= link_to image_tag('donor-navigation/selectedcropped.png'), 'volunteer' %>
		</div>
	<% else %>
		<div class="big_button_border beige_border dash_image float_right">
			<%= link_to image_tag('donor-navigation/standardcropped.png'), 'volunteer' %>
		</div>
	<% end %>
	
	<!-- "Organization wishlists" button -->
	<% if current_page?('/wishlists') %>
		<div class="big_button_border_static beige_border dash_image float_right">
			<%= link_to image_tag('donor-navigation/selected1cropped.png'), 'wishlists' %>
		</div>
	<% else %>
		<div class="big_button_border beige_border dash_image float_right">
			<%= link_to image_tag('donor-navigation/standard1cropped.png'), 'wishlists' %>
		</div>
	<% end %>
	
	<!-- "Volunteer opportunities" button -->
	<% if current_page?('/itemoffers') %>
		<div class="big_button_border_static beige_border dash_image float_right">
			<%= link_to image_tag('donor-navigation/selected2cropped.png'), 'itemoffers' %>
		</div>	
	<% else %>
		<div class="big_button_border beige_border dash_image float_right">
			<%= link_to image_tag('donor-navigation/standard2cropped.png'), 'itemoffers' %>
		</div>
	<% end %>
</div>