<%= render :partial => "donordashnav" %>

<div class="whitespace clear"></div>

<div id="login_container" class="float_left">
	<h1 class="heading_label center">DONOR LOGIN</h1>
	<br/>
	<%= render 'donorloginform' %>
</div>

<%= image_tag('donor-login/photo.png', :class => 'float_right') %>

<div class="small_whitespace clear_left"></div>

<div id="register_donor_button" class="button_border green_border float_left clear_left">
	<%= link_to "Register As A Donor", 'register', :class => 'button wide_button green_bg', 
												 :rel => 'facebox' %>
</div>

<div class="smaller_whitespace clear_left"></div>

<div id="org_login_button" class="button_border blue_border float_left clear_left">
	<%= link_to "Organization Login", 'orglogin', :class => 'button wide_button blue_lighter_bg' %>
</div>