<%= form_for @donor, class: 'new_donor', url: donor_create_path  do |f| %>

    <% if @donor.errors.any? %>
        <div class="errors">
            <h2><%= pluralize(@donor.errors.count, "error") %> prohibited this donor from being saved:</h2>

            <ul>
                <% @donor.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :first_name, "first name" %>
        <%= f.text_field :first_name %>
    </div>

    <div class="field">
        <%= f.label :last_name, "last name" %>
        <%= f.text_field :last_name %>
    </div>

    <%= f.fields_for :user do |user_form| %>
        <div class="field">
            <%= user_form.label :email, 'email*' %>
            <%= user_form.text_field :email %>
        </div>

        <p class="disclaimer">*email address will be used as username.</p>

        <div class="field">
            <%= user_form.label :password, 'password' %>
            <%= user_form.password_field :password %>
        </div>
        <div class="field">
            <%= user_form.label :password_confirmation, 'confirm' %>
            <%= user_form.password_field :password_confirmation %>
        </div>
    <% end %>

    <div class="actions">
        <%= f.submit "Register" %>
        <%= link_to "Cancel", '#', class: 'cancel' %>
    </div>
<% end %>