<h1>Listing donors</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Password</th>
    <th>Street address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Limited address</th>
    <th>Bio</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @donors.each do |donor| %>
  <tr>
    <td><%= donor.first_name %></td>
    <td><%= donor.last_name %></td>
    <td><%= donor.email %></td>
    <td><%= donor.password %></td>
    <td><%= donor.street_address %></td>
    <td><%= donor.city %></td>
    <td><%= donor.state %></td>
    <td><%= donor.zip %></td>
    <td><%= donor.limited_address %></td>
    <td><%= donor.bio %></td>
    <td><%= donor.image %></td>
    <td><%= link_to 'Show', donor %></td>
    <td><%= link_to 'Edit', edit_donor_path(donor) %></td>
    <td><%= link_to 'Destroy', donor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Donor', new_donor_path %>
