<div class="dash-content">

    <div class="teal-heading-banner">FINANCIAL DONATIONS</div>

    <table class="latest-financial-donations">
        <tr class="top-total">
            <td colspan="3">You have donated a total of <%= number_to_currency @total_amount %>.</td>
        </tr>
        <tr>
            <td class="header" colspan="3"><%= @donations.any? ? "My Latest Financial Donations" : "No donations yet." %></td>
        </tr>

        <% @donations.each do |donation| %>
            <tr class="<%= cycle('odd','even') %>_row">
                <td><%= donation.date_donated %></td>
                <td><%= donation.amount %></td>
                <td>Organization name</td>
            </tr>
        <% end %>

        <tr class="bottom-total">
            <td colspan="3">Total: <%= number_to_currency @total_amount %></td>
        </tr>
    </table>

    <%= link_to "Donate Now", donor_new_donation_path %>
</div>