<div class='dash-content'>
    <h2 class='teal-heading-banner'>ITEM-OFFERS</h2>

    <h3 class='my-item-offers-header'>
        UNMATCHED ITEM-OFFER POSTS
        <span class='count'>Showing <%= how_many_to_show(@item_offers, 10, 1) %> of <%= @item_offers.count %></span>
    </h3>

    <ul class='my-item-offers'>
        <%# TODO: should only show unmatched item-offers %>
        <% if @item_offers.any? %>
            <% @item_offers.each do |item| %>
                <li class="<%= cycle('odd','even') %>">
                    <div class='item-image'>
                        <% if item.image_file_name.present? %>
                            <%= image_tag item.image.url(:thumb) %>
                        <% end %>
                    </div>

                    <div class='item-info'>
                        <p class='name'><%= item.name %></p>

                        <p><%= item.description %></p>
                    </div>

                    <%= link_to 'View details', item, class: 'facebox-modal' %>
                </li>
            <% end %>
        <% else %>

        <% end %>
    </ul>

    <h3 class='my-item-offers-header'>
        ITEM OFFER HISTORY
        <span class='count'>Showing 1 of 1</span>
    </h3>
</div>