<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @donor.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @donor.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @donor.email %>
</p>

<p>
  <b>Password:</b>
  <%= @donor.password %>
</p>

<p>
  <b>Street address:</b>
  <%= @donor.street_address %>
</p>

<p>
  <b>City:</b>
  <%= @donor.city %>
</p>

<p>
  <b>State:</b>
  <%= @donor.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @donor.zip %>
</p>

<p>
  <b>Limited address:</b>
  <%= @donor.limited_address %>
</p>

<p>
  <b>Bio:</b>
  <%= @donor.bio %>
</p>

<p>
  <b>Image:</b>
  <%= @donor.image %>
</p>


<%= link_to 'Edit', edit_donor_path(@donor) %> |
<%= link_to 'Back', donors_path %>
