<ul class="my-dash">
	<li>
        <h2>MY DASHBBOARD</h2>
    </li>
	<li <%= current_page?(donor_overview_path) ? 'class=active': '' %>>
        <%= link_to "OVERVIEW<br/>View donation history".html_safe, "/donor/" %>
	</li>
	<li <%= current_page?(donor_my_item_offers_path) ? 'class=active': '' %>>
        <%= link_to "ITEM-OFFERS<br/>View submitted item-offers".html_safe, "/donor/my-item-offers" %>
	</li>
	<li <%= current_page?(donor_my_donations_path) ? 'class=active': '' %>>
        <%= link_to "FINANCIAL DONATIONS<br/>View financial donation history".html_safe, "/donor/my-donations" %>
	</li>
	<li <%= current_page?(donor_my_events_path) ? 'class=active': '' %>>
        <%= link_to "VOLUNTEER<br/>View volunteer calendar & past events".html_safe, "/donor/my-events" %>
	</li>
</ul>