<div class="page-footer">
	<nav>
        <ul>
            <li><%= link_to 'home', root_url %></li>
            <li><%= link_to 'about', about_path %></li>
            <li><%= link_to 'faqs', faqs_path %></li>
            <li><%= link_to 'contact', contact_path %></li>
            <li><%= link_to 'copyright', '' %></li>
        </ul>
    </nav>
    <hr/>
</div>

