<!--
  - _header.html.erb
  -
  - Contains the site's logo, sign up / log in links, and nav bar.
  -->

<%= stylesheet_link_tag 'header' %>

<div id="header_container">
	<div id="login_links_container">
		<%= link_to 'Sign up', 'register', :class => 'login_link inline', :rel => 'facebox',
										   :remote => true %>
		<pre class="login_link inline"> | </pre>
		<%= link_to 'Log in', 'login', :class => 'login_link inline' %>
	</div>
	
	<div id="nav_bar">
		<%= link_to 'about', 'about', :class => 'nav_link inline' %>
		<%= link_to 'faqs', 'faqs', :class => 'nav_link inline' %>
		<%= link_to 'contact', 'contact', :class => 'nav_link inline' %>
		<%= link_to 'shop', 'shop', :class => 'nav_link inline' %>
	</div>

	<%= link_to image_tag('home/logo_edit.png', :id => 'logo'), root_url %>
	<hr/>
</div>