<header class='page-header'>
	<ul class='account-links'>
        <% if logged_in? %>
            <% if current_user.role == 'donor' %>
                <li><%= link_to 'My Dashboard', donor_overview_path %></li>
            <% else %>
                <li><%= link_to 'My Dashboard', org_overview_path %></li>
            <% end %>
            <li class="separator"> | </li>
            <li><%= link_to 'Log out', logout_path %></li>
        <% else %>
            <li><%= link_to 'Sign up', current_page?(org_login_path) ? org_register_path : donor_register_path, class: 'facebox-modal' %></li>
            <li class="separator"> | </li>
            <li><%= link_to 'Log in', current_page?(org_login_path) ? org_login_path : donor_login_path %></li>
        <% end %>
	</ul>
	
	<nav>
        <ul>
            <li><%= link_to 'about', about_path %></li>
            <li><%= link_to 'faqs', faqs_path %></li>
            <li><%= link_to 'contact', contact_path %></li>
            <li><%= link_to 'shop', shop_path %></li>
        </ul>
	</nav>

	<%= link_to image_tag('home/logo_edit.png', id: 'logo'), root_url %>
	<hr/>
</header>