<ul class="my-dash">
    <li>
        <h2>MY DASHBBOARD</h2>
    </li>
    <li <%= current_page?(org_overview_path) ? 'class=active' : '' %>>
        <%= link_to "OVERVIEW<br/>View donation history".html_safe, org_overview_path %>
    </li>
    <li <%= current_page?(org_my_item_matches_path) ? 'class=active' : '' %>>
        <%= link_to "ITEM-MATCHES<br/>View/Manage item-matches".html_safe, org_my_item_matches_path %>
    </li>
    <li <%= current_page?(org_my_donations_path) ? 'class=active' : '' %>>
        <%= link_to "FINANCIAL DONATIONS<br/>View financial donation history".html_safe, org_my_donations_path %>
    </li>
    <li <%= current_page?(org_my_events_path) ? 'class=active' : '' %>>
        <%= link_to "VOLUNTEER<br/>View/Manage volunteer calendar".html_safe, org_my_events_path %>
    </li>
</ul>