<div class="float_left">
  <h1 class="heading_label">DONATE:</h1>

  <!-- "Donate items" button -->
  <% if current_page?('/donor/item-offers') %>
      <div class="big_button_border_static brown_border dash_image float_left">
        <%= link_to image_tag('donor-navigation/selected5cropped.png'), org_my_wishlists_path %>
      </div>
  <% else %>
      <div class="big_button_border brown_border dash_image float_left">
        <%= link_to image_tag('donor-navigation/standard5cropped.png'), org_my_wishlists_path %>
      </div>
  <% end %>

  <!-- "Donate money" button -->
  <% if current_page?('/donor/donations') %>
      <div class="big_button_border_static brown_border dash_image float_left">
        <%= link_to image_tag('donor-navigation/standard5cropped.png'), org_distribute_donations_path %>
      </div>
  <% else %>
      <div class="big_button_border brown_border dash_image float_left">
        <%= link_to image_tag('donor-navigation/standard5cropped.png'), org_distribute_donations_path %>
      </div>
  <% end %>

  <!-- "Donate time" button -->
  <% if current_page?('/donor/events') %>
      <div class="big_button_border_static brown_border dash_image float_left">
        <%= link_to image_tag('donor-navigation/standard5cropped.png'), org_manage_events_path %>
      </div>
  <% else %>
      <div class="big_button_border brown_border dash_image float_left">
        <%= link_to image_tag('donor-navigation/standard5cropped.png'), org_manage_events_path %>
      </div>
  <% end %>
</div>

<div class="float_right">
  <h1 class="heading_label">BROWSE:</h1>

  <!-- "Volunteer opportunities" button -->
  <% if current_page?('/donor/events/index') %>
      <div class="big_button_border_static beige_border dash_image float_right">
        <%= link_to image_tag('donor-navigation/standard5cropped.png'), org_events_path %>
      </div>
  <% else %>
      <div class="big_button_border beige_border dash_image float_right">
        <%= link_to image_tag('donor-navigation/standard5cropped.png'), org_events_path %>
      </div>
  <% end %>

  <!-- "Organization wishlists" button -->
  <% if current_page?('/donor/wishlists') %>
      <div class="big_button_border_static beige_border dash_image float_right">
        <%= link_to image_tag('donor-navigation/standard5cropped.png'), org_wishlists_path %>
      </div>
  <% else %>
      <div class="big_button_border beige_border dash_image float_right">
        <%= link_to image_tag('donor-navigation/standard5cropped.png'), org_wishlists_path %>
      </div>
  <% end %>

  <!-- "Item-offer board" button -->
  <% if current_page?('/donor/item-offers/index') %>
      <div class="big_button_border_static beige_border dash_image float_right">
        <%= link_to image_tag('donor-navigation/standard5cropped.png'), org_item_offers_path %>
      </div>
  <% else %>
      <div class="big_button_border beige_border dash_image float_right">
        <%= link_to image_tag('donor-navigation/standard5cropped.png'), org_item_offers_path %>
      </div>
  <% end %>
</div>