<div class="float_left">
  <h1 class="heading_label">TAKE ACTION:</h1>

  <!-- "Donate items" button -->
  <% if current_page?('/donor/item-offers') %>
      <div class="big_button_border_static brown_border dash_image float_left">
        <%= link_to image_tag('view-edit-wishlists-selected.png'), org_my_wishlists_path %>
      </div>
  <% else %>
      <div class="org_big_button_border brown_border dash_image float_left">
        <%= link_to image_tag('view-edit-wishlists-dashnav.png'), org_my_wishlists_path %>
      </div>
  <% end %>

  <!-- "Donate money" button -->
  <% if current_page?('/donor/donations') %>
      <div class="big_button_border_static brown_border dash_image float_left">
        <%= link_to image_tag('distribute-funds-selected.png'), org_distribute_donations_path %>
      </div>
  <% else %>
      <div class="org_big_button_border brown_border dash_image float_left">
        <%= link_to image_tag('distribute-funds-dashnav.png'), org_distribute_donations_path %>
      </div>
  <% end %>

  <!-- "Donate time" button -->
  <% if current_page?('/donor/events') %>
      <div class="big_button_border_static brown_border dash_image float_left">
        <%= link_to image_tag('manage-volunteers-selected.png'), org_manage_events_path %>
      </div>
  <% else %>
      <div class="org_big_button_border brown_border dash_image float_left">
        <%= link_to image_tag('manage-volunteers-dashnav.png'), org_manage_events_path %>
      </div>
  <% end %>
</div>

<div class="float_right">
  <h1 class="heading_label">BROWSE:</h1>

  <!-- "Volunteer opportunities" button -->
  <% if current_page?('/org/events') %>
      <div class="big_button_border_static beige_border dash_image float_right">
        <%= link_to image_tag('volunteer-opportunities-org-selected.png'), org_events_path %>
      </div>
  <% else %>
      <div class="org_big_button_border beige_border dash_image float_right">
        <%= link_to image_tag('donor-navigation/standardcropped.png'), org_events_path %>
      </div>
  <% end %>

  <!-- "Organization wishlists" button -->
  <% if current_page?('/org/wishlists') %>
      <div class="big_button_border_static beige_border dash_image float_right">
        <%= link_to image_tag('organization-wishlists-selected.png'), org_wishlists_path %>
      </div>
  <% else %>
      <div class="org_big_button_border beige_border dash_image float_right">
        <%= link_to image_tag('donor-navigation/standard1cropped.png'), org_wishlists_path %>
      </div>
  <% end %>

  <!-- "Item-offer board" button -->
  <% if current_page?('/org/item-offers') %>
      <div class="big_button_border_static beige_border dash_image float_right">
        <%= link_to image_tag('item-offer-board-org-selected.png'), org_item_offers_path %>
      </div>
  <% else %>
      <div class="org_big_button_border beige_border dash_image float_right">
        <%= link_to image_tag('donor-navigation/standard2cropped.png'), org_item_offers_path %>
      </div>
  <% end %>
</div>