<!--
  - home/about.html.erb
  -
  - Contents for information about Spared.org.
  -->


<%= image_tag("about/image.png", :class => 'wide_photo') %>

<div class="home_heading home_heading_label">We love animals.</div>

<br/>
<br/>

<div class="content_box">
	<div class="content_text_wrapper">
	
		<p class="content">
		Spared.org was created by <%= link_to 'Rachael Chiseck' %> and <%= link_to 'Sarah Dickerson' %>, both interactive 
		designers from Ohio. Spared began as a senior capstone project for the
		<%= link_to 'University of Cincinnati\'s College of Design, Architecture, Art, and Planning' %>.
		Since they are both animal advocates, they wanted to create something that would benefit 
		shelter pets, and ultimately lower the United States' high animal euthanasia rates.
		</p>
		
		<p class="content">
		The idea for Spared came about when Rachael's Australian Cattle Dog, Mattie, grew out of her
		small puppy collars. Since puppies grow so quickly, the dollars were still like-new when Mattie
		had grown out of them. Rachael wanted to donate the used collars, but where? Which animal
		shelter needed collars the most?
		</p>
		
		<p class="content">
		Through research, Rachael and Sarah learned that there was not an existing network available
		for animal organizations' supply needs, nor was there an easy way to get in touch with local
		shelters to offer extra supplies. They also found that household items, like laundry detergent,
		for example, were often overlooked in regard to shelter needs.
		</p>
		
		<!-- Last paragraph must be inline -->
		<p class="content inline">
		With nine months of studio work at the University of Cincinnati, and help from developers,
		spared.org will be launching soon!
		</p>
	</div>

	<div class="content_pic_wrapper">
	
		<%= image_tag("about/rachael-sarah.png") %>
		
		<p class="caption">The creators and designers of Spared.org,<br/>
					       Rachael Chiseck & Sarah Dickerson</p>
						
	</div>
</div>