<div class="slideshow">

  <div class="active slide">
      <%= image_tag "1.jpg"%>
      <p class="credits white">Mischa<br/>Off Leash Photography</p>
      <p class="slide-text">Welcome to SPARED, a community-based, nonprofit donation network created for animal organizations.</p>
  </div>

  <div class="slide">
      <%= image_tag "2.jpg"%>
      <p class="credits">Bear<br/>Thank Dog Photography</p>
      <p class="slide-text-alt">What can you spare?<br/>Donate now to save a life.</p>
  </div>

  <% if current_user && current_user.role == "organization" %>
      <%= link_to "GET STARTED, IT'S FREE!", org_login_path %>
  <% else %>
      <%= link_to "GET STARTED, IT'S FREE!", donor_login_path %>
  <% end %>
</div>

<div class="teal-heading-banner">How does it work?</div>

<div class="home-flow-diagram">
	<%= image_tag("home/ORGANIZATION WISHLISTS.png", :class => 'info') %>
	<%= image_tag("home/Shape 2 copy 2.png", :class => 'arrow') %>
	<%= image_tag("home/ORGANIZATION WISHLISTS copy.png", :class => 'info') %>
	<%= image_tag("home/Shape 2 copy 2.png", :class => 'arrow') %>
	<%= image_tag("home/ORGANIZATION WISHLISTS copy 2.png", :class => 'info') %>
</div>

<div class="content-box">
    <h2>It's Easy... and It's Free!</h2>

    <ul class="bullet">
        <li>Browse a wishlist and donate items</li>
        <li>Post items you can spare and they will be matched with an
                                     organization in need</li>
        <li>Make a financial donation to a shelter of your choice</li>
    </ul>
</div>

<div class="content-box">
    <h2>Anyone Can Help!</h2>

    <p>
        Local shelter's top wishlist item is blankets? <span class="bold">Donate Them!</span><br/>
        Puppy grew too large for his collar? <span class="bold">Post it for donation!</span><br/>
        Extra birthday cash? <span class="bold">Donate it to your favorite organization!</span><br/>
        Any donation, large or small, can benefit animals in shelters and rescues.<br/>
        <br/>
        Research shows that shelters don't often get the supplies they need and it is the goal of Spared to help make this happen.<br/>
        By involving the community and streamlining the way organizations get supplies, volunteers are less bogged down by daily operations,<br/>
        and animals get the love and care they need. Getting rid of those unused pet supplies also ensures a cleaner garage!
    </p>
</div>

<div class="content-box">
    <h2>Who is Eligible?</h2>

    <p>
        Though we aim to help all animal organizations, there are a few registration qualifications<br/>
        to ensure integrity. To register an organization for donations, the organization must:
    </p>

    <ul class="bullet">
        <li>Be nonprofit [registered or non-registered]</li>
        <li>Have a physical address and facility</li>
        <li>Be willing to take care of shipping costs and/or transportation of items</li>
    </ul>

    <p>For full eligibility requirements, <%= link_to 'register now!', 'register', :class => 'login_link', :rel => 'facebox' %></p>
</div>