<!--
  - events/_donor-form.html.erb:
  - Form to sign up for a new volunteering event.
-->

<div class="dash_text_wrapper">
  <p>Use this form to search for volunteer opportunities that match your interests.</p>

  <hr/>
  <div class="small_whitespace"></div>

  <p class="big bold">SEARCH VOLUNTEER OPPORTUNITIES BY:</p>

  <div class="whitespace"></div>



  <%= form_tag('/donor/events', :method => 'post') do %>

    <%= label_tag(:location, 'Location') %>
    <%= text_field_tag(:location, '', :id => 'donation_location_text_field', :class => 'text_field') %> <br/>

    <div class="whitespace"></div>

    <%= label_tag(:category, 'Category') %>
    <%= select_tag(:category, options_for_select(['Category']), :id => 'donation_category_dropdown') %>

    <div class="whitespace"></div>

    <!--div id="donation_dates_container"-->
      <%= label_tag(:date_from, "Dates") %>
      <%= text_field_tag(:date_from, '', :id => 'donation_date_from_text_field', :class => 'text_field') %>
        <%= link_to image_tag('-library/calendar_icon.png', :class => 'donation_calendar_img') %>
      <%= label_tag(:date_to, 'to', :id => 'donation_to_label') %>
      <%= text_field_tag(:date_to, '', :id => 'donation_date_to_text_field', :class => 'text_field') %>
        <%= link_to image_tag('-library/calendar_icon.png', :class => 'donation_calendar_img') %>
    <!--/div-->

    <div class="whitespace"></div>

    <div id="donation_search_button" class="button_border green_border float_left">
      <%= submit_tag("Search", :class => 'button small_button green_bg', :type => 'button') %>
    </div>

    <div class="small_whitespace clear_left"></div>

    <%= link_to("Or browse all opportunities") %>
  <% end %>

</div>