<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>When:</b>
  <%= @event.when %>
</p>

<p>
  <b>City:</b>
  <%= @event.city %>
</p>

<p>
  <b>State:</b>
  <%= @event.state %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Number of volunteers needed:</b>
  <%= @event.number_of_volunteers_needed %>
</p>

<p>
  <b>Image:</b>
  <%= @event.image %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', browse_events_path %>
