Alternatively, <%= link_to 'click here' %> to select an animal organization of your choice.<br/>
<br/>

<%= form_tag('/donor/donations', method: 'post') do %>

    <span class='dollar-sign'>$</span>
    <%= text_field_tag(:org_donation, "0.00", class: 'donate-to-org') %><br/>

    <div class="and-or">
        <hr class="left"/>
        <p>AND/OR</p>
        <hr class="right"/>
    </div>

    Donate to spared.org to help cover our administrative costs - keep us going!<br/>
    <span class='dollar-sign'>$</span>
    <%= text_field_tag(:spared_donation, "0.00", class: 'donate-to-spared') %><br/>

    <%= submit_tag "Donate" %>
<% end %>