Alternatively, <%= link_to 'click here' %> to select an animal organization of your choice.<br/>
<br/>

<%= form_tag('/donor/donations', method: 'post') do %>

    <%= text_field_tag(:org_donation, "$0.00", class: 'text_field donation_textfield') %><br/>
    <br/><br/>

    <div class="and_or">
        <hr class="left"/>
        <p>AND/OR</p>
        <hr class="right"/>
    </div>

    <br/><br/>

    Donate to spared.org to help cover our administrative costs - keep us going!<br/>
    <br/>
    <%= text_field_tag(:spared_donation, "$0.00", class: 'text_field donation_textfield') %><br/>

    <br/>

    <div id="donate_button" class="button_border green_border float_left">
        <%= submit_tag("Donate", class: 'button small_button green_bg', type: 'button') %>
    </div>

    <div class="whitespace"></div>
<% end %>