<%= form_for@organization, url: org_update_path do |f| %>
    <div class="field">
        <%= f.label :organization_name, "organization name" %>
        <%= f.text_field :organization_name, value: @organization.organization_name, class: "org_text_field" %><br/>
    </div>
    <div class="field">
        <%= f.label :representative_name, "representative name" %>
        <%= f.text_field :representative_name, value: @organization.representative_name, class: "org_text_field" %><br/>
    </div>

    <%= f.fields_for :user do |u| %>
        <div class="field">
            <%= u.label :email, "email" %>
            <%= u.text_field :email, value: @user.email %><br/>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :street_address, "street address", class: 'address-label' %>
        <%= f.text_field :street_address, value: @organization.street_address %><br/>
    </div>
    <div class="field">
        <%= f.label :city, "city" %>
        <%= f.text_field :city, value: @organization.city %><br/>
    </div>
    <div class="field">
        <%= f.label :state, "state" %>
        <%= f.text_field :state, value: @organization.state, class: "org_text_field short_field" %><br/>
    </div>
    <div class="field">
        <%= f.label :zip, "zip" %>
        <%= f.text_field :zip, value: @organization.zip %><br/>
    </div>
    <div class="field">
        <%= f.check_box :limited_address, checked: true %>
        <%= f.label :limited_address, "Only display my city and zip code", class: "checkbox-label" %>
    </div>

    <div class="field">
        <%= f.label :avatar, 'profile photo', class: 'avatar-label' %>
        <%= f.file_field :avatar %>
    </div>

    <div class="field">
        <%= f.label :bio, "short bio", class: 'bio-label' %>
        <%= f.text_area :bio %>
    </div>

    <%= f.submit "Save", type: 'submit' %>
<% end %>