<%= form_for @organization, class: "new_org", url: org_create_path  do |f| %>

    <% if @organization.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this donor from being saved:</h2>

            <ul>
                <% @organization.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :organization_name, 'organization name' %>
        <%= f.text_field :organization_name %>
    </div>

    <div class="field">
        <%= f.label :representative_name, 'representative name' %>
        <%= f.text_field :representative_name %>
    </div>

    <%= f.fields_for :user do |user_form| %>
        <div class="field">
            <%= user_form.label :email, 'email*' %>
            <%= user_form.text_field :email %>
        </div>

        <p class='disclaimer'>*email address will be used as username.</p>

        <div class="field">
            <%= user_form.label :password, 'password' %>
            <%= user_form.password_field :password %>
        </div>
        <div class="field">
            <%= user_form.label :password_confirmation, 'confirm' %>
            <%= user_form.password_field :password_confirmation %>
        </div>
    <% end %>

    <div class="actions">
        <%= f.submit 'Register' %>
        <%= link_to 'Cancel', '#', class: 'cancel' %>
    </div>
<% end %>
