<div class="dash_content float_right">

  <div class="org_dash_heading heading_label">DONATION HISTORY AT A GLANCE</div>

  <div class="profile_summary">
    <p>
      <%= "#{@organization.organization_name}" %><br/>
      <% if @organization.city.present? && @organization.state.present? %>
          <%= "#{@organization.city}, #{@organization.state} #{@organization.zip}" %>
      <% else %>
          <%= "#{@organization.city}" %>
      <% end %>
    </p>

    <div class="avatar_wrapper">
      <% if @organization.avatar_file_name.present? %>
          <%= image_tag @organization.avatar.url(:thumb) %>
      <% end %>
    </div>

    <%= link_to "View/Edit profile", org_edit_path %>
  </div>

  <div class="small_whitespace clear"></div>

  <div class="yellow_mini_footer"></div>

</div>