<div class="search-wishlists">
    <h4>SEARCH / REFINE</h4>

    <%= form_tag('/wishlists', :method => 'post') do %>
        <%= label_tag(:search, 'Search for', class: 'search-for') %>
        <%= text_field_tag(:search, "", class: "search-field") %>

        <hr/>

        <div class='date-fields'>
            <%= label_tag :dates_from, "Dates:", class: 'dates-label' %>
            <%= text_field_tag :dates_from, '', class: 'from-field' %>
            <%= label_tag :dates_to, "to", class: 'to-label' %>
            <%= text_field_tag :dates_to, '', class: 'to-field' %>
        </div>

        <div class='category-fields'>
            <%= label_tag(:category, 'Activity category:') %>
            <%= select_tag(:category, options_for_select(['Category']), class: 'category') %> 
            <%= select_tag(:sub_category, options_for_select(['Sub-category']), class: 'subcategory') %>
        </div>

        <div class='city-state'>
            <%= label_tag(:city, 'Location:') %> 
            <%= text_field_tag(:city, '', placeholder: "City") %>
            <%= select_tag(:state, options_for_select(['State'])) %> 
        </div>
        <div class='zip-miles'>
            <%= label_tag(:zip, 'or') %>
            <%= text_field_tag(:zip, '', placeholder: "Zipcode") %>
            <%= select_tag(:miles, options_for_select([['10 mi'],['25 mi'],['50 mi'],['100 mi']])) %> 
        </div>

        <%= submit_tag 'Search' %>
    <% end %>
</div>