<div class="dash-content my-wishlists-page">
    <div class="brown-heading-banner">My Wishlists</div>

    <%= image_tag('donate-initial/Lucy.png') %>

    <ul class="wishlists">
        <% if @wishlists.count() > 0 %>
            <% @wishlists.each do |wishlist| %>
                <li class="<%= cycle('odd','even') %>">
                    <div class='wishlist-image'>
                        <% if wishlist.image_file_name.present? %>
                            <%= image_tag wishlist.image.url(:thumb) %>
                        <% end %>
                    </div>
                    <div class="wishlist-info">
                        <p class="name"><%= wishlist.name %></p>
                        <p class="description"><%= wishlist.description %></p>
                    </div>
                    <%= link_to "view/edit", wishlist, class: 'facebox-modal' %>
                </li>
            <% end %>
        <% else %>
            <li class="odd">No wishlists yet!</li>
        <% end %>
    </ul>

    <%= link_to "Create New Wishlist", org_new_wishlist_path, class: "new-wishlist-button" %>
</div>