<div class="content-box">
  <%= form_for(@item_offer) do |f| %>
      <% if @item_offer.errors.any? %>
          <div id="error_explanation">
              <h2>
                  <%= pluralize(@item_offer.errors.count, "error") %> prohibited this item from being saved:
              </h2>

              <ul>
                  <% @item_offer.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
              </ul>
          </div>
      <% end %>

      <div class="field">
          <%= f.label :name, 'Title:' %>
          <%= f.text_field :name, :class => 'item-title' %>
      </div>

      <div class="field">
          <%= f.label :description, 'Description:' %>
          <%= f.text_area :description, :rows => '7', :class => 'item-description' %>
      </div>

      <div class="field">
          <%= f.label :animal_type, 'Animal type:' %>
          <%= f.text_field :animal_type, :class => 'item-animal-type' %>
      </div>

      <div class="field">
          <%= f.label :category, 'Category:' %>
          <%= f.select :category, options_for_select(['Category']), :class => 'item-category' %>
      </div>

      <div class="field">
          <%= f.label :condition, 'Condition:' %>
          <%= f.select :condition, options_for_select([['Any'],['New'],['Used']]), :class => 'item-condition' %>
      </div>

      <div class="field">
          <%= f.label :expiration_date, 'Expiration date:' %>
          <%= f.text_field :expiration_date, :class => 'jquery-ui-date item-expiry' %>
      </div>

      <div class="field">
          <%= f.label :estimated_value, 'Estimated value:' %>
          <%= f.text_field :estimated_value, :class => 'item-estimated-value' %>
      </div>

      <div class="field">
          <%= f.label :zip, 'Location Zip Code:' %>
          <%= f.text_field :zip, :class => 'item-zip' %>
      </div>

      <div class="field">
          <%= f.label :image, 'Add a photo:' %>
          <%= f.file_field :image, :class => 'item-img' %>
      </div>

      <%= f.submit 'Submit' %>
  <% end %>
</div>
