<div class="search-item-offers">

	<h4>SEARCH / REFINE</h4>

	<%= form_tag('/donor/items/index', :method => 'post') do %>
		<%= label_tag(:search, 'Search for', class: 'search-for') %>
		<%= text_field_tag(:search, "", :id => "search_text_field") %>

		<hr/>

		<%= label_tag(:category, 'Item category:') %>
		<%= select_tag(:category, options_for_select(['Category']), class: 'search-category') %>

		<%= label_tag(:condition, 'Item condition:') %>
		<%= select_tag(:condition, options_for_select([['Any'],['New'],['Used']]), class: 'search-condition') %>

		<%= label_tag(:city, 'Location:') %>
		<div class='city-state'>
			<%= text_field_tag(:city, '', placeholder: "City") %>
			<%= select_tag(:state, options_for_select(['State'])) %>
		</div>
		<div class='zip-miles'>
			<%= label_tag(:zip, 'or', :class => 'italic') %>
			<%= text_field_tag(:zip, '', placeholder: "Zipcode") %>
			<%= select_tag(:miles, options_for_select([['10 mi'],['25 mi'],['50 mi'],['100 mi']]), :class => 'text_field') %>
		</div>

        <%= submit_tag 'Search' %>	
	<% end %>
</div>