<%= render :partial => 'search-form' %>

<div class="dash-content item-offer-board">
	<div class='beige-heading-banner'>ITEM-OFFER BOARD</div>
	
	<div class='filters'>
		<div class='field'>
			<%= label_tag(:sort, 'Sort by:') %>
			<%= select_tag(:sort, options_for_select([['Posted date'],['Name']])) %>
		</div>
		<div class='field'>
			<%= label_tag(:results, 'Results:') %>
			<%= select_tag(:results, options_for_select([['10'],['20'],['30'],['50'],['100']])) %>
		</div>
		<div class='page'>
			Showing <span><%= how_many_to_show(@item_offers, 10, 1) %></span> of <span><%= @item_offers.count %></span>
		</div>
	</div>

	<ul class='item-offers'>
		<% if @item_offers.empty? %>
			<li class='odd'>
				<p>There are no item-offers.</p>
			</li>
		<% else %>
			<% @item_offers.each do |item| %>
				<li class='<%= cycle('odd','even') %>'>
					<div class='item-image'>
						<% if item.image_file_name.present? %>
	                        <%= image_tag item.image.url(:thumb) %>
						<% end %>
					</div>

					<div class='item-info'>
						<p class='name'><%= item.name %></p>

						<p class='summary'>
							<span class='label'>Category: </span>
							<%= item.category %>
							<span class='delimiter'>|</span>
							<span class='label'>Condition: </span>
							<%= item.condition %>
							<span class='delimiter'>|</span>
							<span class='label'>Location: </span>
							<%= item.zip %>
							<br/>
							<span class='label'>Posted: </span>
							<%= item.created_at.to_date %>

							<% if item.expiration_date.present? %>
								<span class='delimiter'>|</span>
								<span class='label'>Expires: </span>
								<%= item.expiration_date %>
							<% end %>
						</p>

						<p class='description'><%= item.description %></p>
					</div>

					<% if current_user && current_user.is_organization? %>
						<%= link_to 'Request item', item, class: 'request-item facebox-modal' %>
					<% else %>
						<%= link_to 'View details', item, class: 'facebox-modal' %>
					<% end %>
				</li>
			<% end %>
		<% end %>
	</ul>

	<%# TODO: paginator %>
</div>