<div class="request-item-detail">
    <h3>Request An Item</h3>

    <div class="img-frame">
        <% if @item_offer.image.present? %>
            <%= image_tag @item_offer.image.url(:detail) %>
        <% end %>
    </div>

    <h4 class="name"><%= @item_offer.name %></h4>
    <% if @item_offer.city.present? && @item_offer.state.present? %>
        <p class="bold"><%= "#{@item_offer.city}, #{@item_offer.state}" %></p>
    <% end %>

    <p class='details'>
        <span>Category: </span><%= "#{@item_offer.category} | "%>
        <span>Animal Type: </span><%= "#{@item_offer.animal_type} | "%>
        <span>Condition: </span><%= "#{@item_offer.condition} | "%>
        <span>Location: </span><%= "#{item_offer_location(@item_offer)} | "%>
        <span>Estimated Value: </span><%= "#{@item_offer.estimated_value} | "%>
        <span>Posted: </span><%= "#{@item_offer.created_at} | "%>
        <span>Expires: </span><%= "#{@item_offer.expiration_date} | "%>
    </p>

    <%= @item_offer.description %>
</div>
