<div class="request-item-detail">
    <h3>Request An Item</h3>

    <div class="img-frame">
        <% if @item_offer.image.present? %>
            <%= image_tag @item_offer.image.url(:detail) %>
        <% end %>
    </div>

    <h4 class="name"><%= @item_offer.name %></h4>
    <% if @item_offer.city.present? && @item_offer.state.present? %>
        <p class="bold"><%= "#{@item_offer.city}, #{@item_offer.state}" %></p>
    <% end %>

    <p class='details'>
        <span>Category: </span><%= "#{@item_offer.category} | "%>
        <span>Animal Type: </span><%= "#{@item_offer.animal_type} | "%>
        <span>Condition: </span><%= "#{@item_offer.condition} | "%>
        <span>Location: </span><%= "#{show_location(@item_offer)} | "%>
        <span>Estimated Value: </span><%= "#{@item_offer.estimated_value} | "%>
        <span>Posted: </span><%= "#{@item_offer.created_at} | "%>
        <span>Expires: </span><%= "#{@item_offer.expiration_date} | "%><br/>
        <span class='description'><%= @item_offer.description %></span>
    </p>

    <form action='' method='post'>
        <div class='field comment'>
            <label for='comment-box'>Add a Comment:</label>
            <textarea id='comment-box'></textarea>
        </div>

        <p>After submitting this request, the donor will receive notification and contact you directly</p>

        <%= link_to "Cancel", '#', class: 'cancel' %>
        <input type='submit' value='submit'>
    </form>
</div>
