<%= render :partial => 'search-form' %>

<div class="dash_content float_right">

  <div class="dash_beige_heading heading_label">ITEM-OFFER BOARD</div>

  <br/>

  <!-- Change how table is sorted -->
  <%= label_tag(:sort, 'Sort by:') %>
  <%= select_tag(:sort, options_for_select([['Posted date'],['Name']])) %>

  <!-- Change how many item-offers are displayed per page -->
  <%= label_tag(:results, 'Results:') %>
  <%= select_tag(:results, options_for_select([['10'],['20'],['30'],['50'],['100']])) %>

  <!-- Display which item-offers are shown (and total) -->
  <div class="float_right">
    <p class="inline">Showing</p>
    <p class="inline bold">1-10</p>
    <p class="inline">of</p>
    <p class="inline bold"><%= ItemOffer.count %></p> <br/>
  </div>

  <br/><br/>


  <!-- Display item-offers (if any) -->

  <% if @item_offers.empty? %>

      <div class="item_offer_post even_item_offer">
        <p>There are no item-offers.</p>
      </div>

  <% else %>

      <% @item_offers.each do |item_offer| %>

          <div class="item_offer_post <%= cycle('odd','even') %>_item_offer">

            <!-- Item-offer image -->
            <div class="item_offer_image_container float_left">
              <% if item_offer.image_file_name.present? %>
                  <%= image_tag item_offer.image.url(:thumb) %>
              <% end %>
            </div>
            <!-- Item-offer information (overview) -->
            <div class="item_offer_info_container float_left">
              <p class="bold"><%= item_offer.name %></p>

              <p class="bold inline">Category:</p>
              <p class="inline"><%= item_offer.category %> |</p>
              <p class="bold inline">Condition:</p>
              <p class="inline"><%= item_offer.condition %> |</p>
              <p class="bold inline">Location:</p>
              <p class="inline"><%= item_offer.zip %></p>
              <br/>
              <p class="bold inline">Posted:</p>
              <p class="inline"><%= item_offer.created_at.to_date %> |</p>
              <p class="bold inline">Expires:</p>
              <p class="inline"><%= item_offer.expiration_date %></p>
              <br/>
              <p><%= item_offer.description %></p>

            </div>

            <!-- Link to view item-offer details -->
            <div class="item_offer_link_container float_left">
              <%= link_to 'REQUEST ITEM', "/org/item-offers/#{item_offer.id}", class: "request_item_link", rel: 'facebox' %>
            </div>
          </div>

      <% end %>

  <% end %>

</div>