<%= form_tag('/orglogin', :method => "post") do %>
	<%= label_tag(:org_email, 'email', :class => 'login_label content') %>
	<%= text_field_tag(:org_email,"", :class => 'text_field login_textfield') %><br/>
	<br/>
	<%= label_tag(:org_password, 'password', :class => 'login_label content') %>
	<%= text_field_tag(:org_password,"", :class => 'text_field login_textfield') %><br/>
	<%= link_to "forgot password?", "", :class => 'forgot_password blue' %>
	<br/>
	<br/>
	<div id="login_button" class="button_border blue_border float_right">
		<%= submit_tag("Login", :class => 'button small_button blue_lighter_bg', :type => 'button') %>
	</div>
<% end %>