<!DOCTYPE html>
<html>
<head>
	<title>Spared</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "jquery", "application" %>
	<%= csrf_meta_tags %>
</head>

<body>
	<div id="page_frame">
  
		<%= render :partial => "shared/header" %>
	
		<%= yield %>
	
		<%= render :partial => "shared/footer" %>
		
  	</div>	
</body>
</html>
