<% role = current_user.role if current_user %>
<% role ||= cookies[:is_member] if cookies[:is_member] %>
<% role ||= 'donor' %>

<!DOCTYPE html>
<html>
<head>
	<title>Spared</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>

<body class=<%= role %>>
    <div class='page-frame'>
        <%= render :partial => "shared/header" %>
        <%= yield %>
        <%= render :partial => "shared/footer" %>
    </div>
</body>
</html>
