<!--
  - donordash.html.erb (layout)
  -
  - Renders the content with a header and footer, and the donor nav
  -->

<!DOCTYPE html>
<html>
<head>
	<title>Spared</title>
  <%= stylesheet_link_tag 'jquery-ui-1.9.0.custom' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'sparedtheme' %>
  <%= javascript_include_tag 'jquery-ui-1.9.0.custom', "jquery", "application" %>
	<%= csrf_meta_tags %>

  <script type="text/javascript">
      $(document).ready(
              function() {
                  $('.jquery-ui-date').datepicker();
              }
      );
  </script>
</head>

<body>
	<div id="page_frame">
      <!-- Flash messages for Devise -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  
		<%= render :partial => "shared/header" %>


		<%= render :partial => "shared/donordashnav" %>

		<div class="whitespace clear"></div>

	
		<%= yield %>

		<% if donor_signed_in? %>
			<%= render :partial => 'shared/donormydash' %>
		<% end %>

		<div class="whitespace clear"></div> 
	
		<%= render :partial => "shared/footer" %>
		
  	</div>	
</body>
</html>
