<% role = (logged_in? && current_user.role == 'organization') ? 'org' : 'donor' %>

<!DOCTYPE html>
<html>
<head>
    <title>Spared</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>

<body class='donor'>
    <div class='page-frame'>
        <%= render :partial => 'shared/header' %>
        <%= render :partial => "shared/#{role}-dash-nav" %>

        <div class='whitespace clear'></div>

        <div class='dash-content'>
            <%= yield %>
        </div>

        <% if logged_in? %>
            <%= render :partial => "shared/#{role}-mydash" %>
        <% else %>
            <%= render :partial => "sessions/#{role}-login-form" %>
        <% end %>

        <div class='whitespace clear'></div>

        <%= render :partial => 'shared/footer' %>
    </div>
</body>
</html>
