<!--
  - yieldonly.html.erb (layout)
  -
  - Renders the contents without a header, footer, or nav bar. Used primarily for lightboxes.
  -->

<!DOCTYPE html>
<html>
<head>
	<title>Spared</title>
  <%= stylesheet_link_tag 'jquery-ui-1.9.0.custom' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'sparedtheme' %>
  <%= javascript_include_tag 'jquery-ui-1.9.0.custom', "jquery", "application" %>
	<%= csrf_meta_tags %>
</head>

<body>
	<!-- Flash messages for Devise -->
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
	<%= yield %>
</body>
</html>
